.card {
  padding: 10px;
  margin-bottom: 36px;
  padding-right: 0px;
  cursor: pointer;
}

.card:hover {
  opacity: 0.7;
}

.circle {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.member {
  color: #2d81e0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 8px;
}

.title {
  /* color: black; */
}

.date {
  color: #545454;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 14px;
}

.description {
  color: #808080;
  text-overflow: ellipsis;
  font-size: 16px;
}

.firstRowContainer {
  display: flex;
  height: 24px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
  overflow: hidden;
}

.rightBlockContainer {
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.secondRowContainer {
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.chatButton {
  display: flex;
  justify-content: end;
}

.vertButton {
  position: absolute;
  z-index: 1;
  top: 8px;
  right: 8px;
}
