.chat {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* max-height: 85vh;
     */
    
    overflow-y: auto;
}
::-webkit-scrollbar {
    width: 0; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
}

:global .ScrollbarsCustom-Wrapper::-webkit-scrollbar,
:global .ScrollbarsCustom-Scroller::-webkit-scrollbar {
    display: none;
}

:global .ScrollbarsCustom,
:global .ScrollbarsCustom-Wrapper {
    display: flex;
    flex-direction: column;
}

:global .ScrollbarsCustom-Wrapper {
    position: relative !important;
    overflow: hidden !important;
    width: 100%;
    height: 100%;
    inset: initial !important;
}

:global .ScrollbarsCustom-Scroller {
    position: static !important;
    overflow: hidden !important;
    width: 100%;
    height: 100%;
    inset: initial !important;
    padding: 0 !important;
    margin: 0 !important;
    display: flex;
    overflow: -mos-scrollbar-none;
}

:global .ScrollbarsCustom-Content {
    padding: 0 !important;
}

